html {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'BioRhyme', 'Franklin Gothic Medium', 'Arial Narrow', Arial,
    sans-serif;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  border: 2px solid black;
}
figure {
  width: 100%;
  /* min-height: 60vh; */
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 95%;
  margin: 0 auto;
  position: relative;
}

.controls {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  /* width: 90%; */
}
.button {
  cursor: pointer;
  padding: 20px;
}

.git-link {
  /* align-self: flex-end; */
  text-align: center;
  text-decoration: none;
  color: gray;
  font-size: 10px;
}
.git-link:hover {
  color: black;
}
